  .heading
  {
    font-size: 23px;
    width: 100%;
    margin: 0px;
    box-shadow:5px 5px 5px rgb(236, 9, 141);
  }
  .heading_div
  {
    float: none;
    background: rgb(158, 157, 255) ; 
    padding: 10px;
    border-radius: 20px; 
    color: black;
    box-shadow:5px 5px 5px rgb(14, 255, 235);
  }
  .heading_div2
  {
    font-size: 18px ;
  }
  .result_para_tag
  {
    box-shadow:5px 5px 5px grey;
    font-size: 20px;
  }
 .copy_right_footer {
   position: fixed;
   color:black;
   bottom: 0;
   width: 100%;
   background-color:rgb(152, 91, 209);
   line-height: 3;
   text-align: center;
 }
canvas
{
  border:5px solid white;
  border-radius: 15px;
  box-shadow: 5px 5px 5px turquoise;
  margin-top: 160px;
}